.header{
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color:#5adeff;
}
.nav-items >ul {
    display: flex;
    margin-top: 30px;
}
#logo{
    width: 100px;
    border: solid orange 2px;
    border-radius: 50%;
}
.nav-items >ul >li{
    list-style-type: none;
    margin-right: 18px;
    font-weight: 500;
    font-size: large;
}
.nav-items >ul >li:hover{
    color: orange;
    cursor: pointer;
}
.body{
    margin: 10px;
    padding: 10px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.restaurant-card{
    width: 200px;
    border: solid black 2px;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
}
.restaurant-card >img{
    width: 100%;

    border-radius: 8px; 
}
.footer{
    margin: 10px;
    border: solid black 1px;
    background-color: darkblue;
    color: white;
    padding-left: 38%;
    border-radius: 10px;
}
