.Header{
    margin: 10px;
    display: flex;
    justify-content: space-between;
    border: solid black 1px;
    
}
.logo{
    width: 95px;
    border: 2px solid rgb(234, 163, 10);
    border-radius: 50px;
}
.nav-items > ul{
    display: flex;
    list-style-type: none;
}
.nav-items > ul >li{
    margin-left: 20px;
    font-weight: 550;
    font-size: large;
    padding: 6px;
}
.card{
    width: 200px;
    border: solid black 1px;
    border-radius: 30px;
    padding: 10px;
    margin: 10px;
}

.card >img{
    width: 100%;
    border-radius: 30px;
}
.cards-list{
    display: flex;
    flex-wrap: wrap;
}
