.header{
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
    border-radius:10px;
    display: flex;
    justify-content: space-between;
}
#logo{
    width: 100px;
    border: solid orange 2px;
    border-radius: 50%;
}
.nav-items >ul {
    display: flex;
}
.nav-items >ul >li{
   list-style-type: none;
   margin-right: 10px;
   font-size: large;
   font-weight: 525; 
}
.body{
    padding: 10px;
    margin: 10px;
    border: solid black 1px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}
.resturant-card{
    padding: 10px;
    width: 200px;
    border: solid black 2px;
    border-radius: 10px;
    margin-top:10px;
    

}

.resturant-card >img{
    width: 100%;
    border-radius: 10px;
}

.footer{
    padding: 10px;
    margin: 10px;
    border: solid black 2px;
    border-radius: 10px;
    background-color: black;
    color: white;
}
button{
    color: white;
    background-color: black;
    border-radius: 20px;
    margin-left: 3px;
    cursor: pointer;
    padding: 4px;
}
